---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

// front page image styling. override default footer image style
.cover-image {
  top: 90px;
}

.social-buttons {
    text-align: center;
}

ul.social-buttons li a {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
    color: #BBC7CC;
}

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
